.body {
  background-color: rgb(71, 98, 79);
  color: aliceblue;
  min-height: 100vh;
}

.send-button {
  background-color: rgb(83, 19, 30) !important;
  border: none !important;
}

.download {
  font-size: 24px;
  color: rgb(83, 19, 30);
  font-weight: bold;
}

button {
  background-color: rgb(83, 19, 30);
  color: aliceblue;
  border: none;
}

.header {
  background-color: rgb(83, 19, 30);
}

.nav-container {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nav-container h2 {
  padding: 5px;
}

.nav-container h2:hover {
  color: rgb(83, 19, 30);
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
}

footer {
  bottom: 0px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer svg {
  margin: 10px;
}

.about-container {
  margin-top: 40px;
}

.about-container p {
  margin-left: 15px;
  margin-right: 15px;
  text-indent: 1em;
}

.about-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.img-container img {
  display: block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.project-pic {
  width: 250px;
  height: auto;
  margin-left: 25px;
  margin-bottom: 20px;
  border: 5px solid rgb(83, 19, 30);
}

.project-container {
  margin-top: 50px;
}

.project-modal {
  padding: 15px;
  background-color: rgb(134, 203, 146);
  color: black;
  border-radius: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
}

.resume {
  margin-top: 50px;
  margin-left: 20px;
}

.error-message {
  color: rgb(244, 62, 63);
}

.contact-form {
  width: 300px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 767px) {
  .nav-container h2 {
    font-size: 24px;
  }
  .about-container p {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .about-container p {
    font-size: 38px;
  }
  .project-pic {
    width: 400px;
  }

  .resume {
    margin-left: 50px;
    font-size: larger;
  }
}

@media (min-width: 2560px) {
  .download {
    font-size: 48px;
  }

  .header h1 {
    font-size: 68px;
  }

  .header h2 {
    font-size: 48px;
  }

  .img-container img {
    display: block;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .about-container p {
    font-size: 52px;
  }

  .svg-icon {
    width: 50px;
    height: 50px;
    background-size: 2000%;
    background-position: 0px 0px;
  }

  .project-container {
    margin-top: 100px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .project-container .row {
    width: 100vw;
  }

  .project {
    width: 800px;
  }

  .project-pic {
    width: 750px;
    margin-bottom: 100px;
  }

  .resume h1 {
    font-size: 78px;
  }

  .resume h2 {
    font-size: 58px;
  }

  .resume {
    font-size: 48px;
    margin-top: 100px;
    margin-left: 150px;
  }

  .contact-form {
    width: 900px;
    font-size: 60px;
  }

  .input-box {
    height: 100px;
    font-size: 48px !important;
  }

  .message-box {
    height: 300px;
    font-size: 48px !important;
  }

  .send-button {
    width: 200px;
    height: 100px;
    font-size: 48px !important;
  }
}
