.body {
  background-color: rgb(71, 98, 79);
  color: aliceblue;
  min-height: 100vh;
}

.header {
  background-color: rgb(83, 19, 30);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer svg {
  margin: 10px;
}

.about-container {
  margin-top: 40px;
  margin-left: 5px;
}

.about-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-container p {
  margin-top: 15px;
}
